<div class="container pt-5 mt-5">
  <div class="row">
    <%= link_to "一覧へ", corporation_projects_path %>
  </div>
  <%= @individual_project.id %>.<%= @individual_project.last_name %><%= @individual_project.first_name %>
  <div class="row">
    <%= @individual_project.last_name_kana %><%= @individual_project.first_name_kana %>
  </div>
  <div class="row">
    <h5>融資額</h5>
    <%= @individual_project.loan %>円
  </div>
  <div class="row">
    <h5>期間</h5>
    <%= @individual_project.span %>ヶ月
  </div>
  <div class="row">
    <h5>毎月返済額</h5>
    <%= @individual_project.month_payment %>円
  </div>
  <div calss="row">
    <h5>最終月返済額</h5>
    <%= @individual_project.last_mont_payment %>円
  </div>
  <div class="row">
    <h5>金利</h5>
    <%= @individual_project.interest_rate %>％
  </div>
  <div class="row">
    <h5>連帯保証人</h5>
    <%= @individual_project.joint_guarantor %>
  </div>
  <div class="row">
    <h5>自己資金</h5>
    <%= @individual_project.own_resource %>円
  </div>
  <div class="row">
    <h5>期日</h5>
    <%= @individual_project.end_day %>
  </div>
  <div class="row">
    <h5>担保</h5>
    <%= @individual_project.collateral.collateral %>
  </div>
  <div class="row">
    <h5>資金使途</h5>
    <%= @individual_project.use_of_fund.use_of_fund %>
  </div>
  <div class="row">
    <h5>資金種類</h5>
    <%= @individual_project.fund_type.fund_type %>
  </div>
  <div class="row">
    <h5>実行日</h5>
    <%= @individual_project.date %>
  </div>
  <div class="row">
    <h5>実行予定日</h5>
    <%= @individual_project.appoint_date %>
  </div>
  <div class="row">
    <h5>完済登録</h5>
    <%= @individual_project.is_active %>
  </div>
  <div class="row">
    <%= link_to "変更", edit_individual_project_path %>
  </div>
</div>