<div class="container pt-5">
  <div class="row ml-4">
    <h4><%= @individual_project.id %>.<%= @individual_project.last_name %><%= @individual_project.first_name %></h4>
  </div>
  <div class="row ml-4">
    <%= link_to "一覧", individual_projects_path %>
  </div>
  <div class="row　ml-4">
    <%= link_to "案件内容を変更する", edit_individual_project_path(@individual_project), class: "btn btn-outline-secondary" %>
  </div>

  <div class="row mt-4">
    <div class="col-md-10">
    <table class="table table-striped">
      <tbody>
        <tr>
          <th scope="row">顧客名</th>
          <td>
            <%= @individual_project.last_name_kana %><%= @individual_project.first_name_kana %><br>
            <%= @individual_project.last_name %><%= @individual_project.first_name %>
          </td>
        </tr>
        <tr>
          <th scope="row">融資額</th>
          <td><%= @individual_project.loan %>円</td>
        </tr>
        <tr>
          <th scope="row">期間</th>
          <td><%= @individual_project.span %>ヶ月</td>
        </tr>
        <tr>
          <th scope="row">毎月返済額</th>
          <td><%= @individual_project.month_payment %>円</td>
        </tr>
        <tr>
          <th scope="row">最終月返済額</th>
          <td><%= @individual_project.last_mont_payment %>円</td>
        </tr>
        <tr>
          <th scope="row">金利</th>
          <td><%= @individual_project.interest_rate %>％</td>
        </tr>
        <tr>
          <th scope="row">連帯保証人</th>
          <td><%= @individual_project.joint_guarantor %></td>
        </tr>
        <tr>
          <th scope="row">自己資金</th>
          <td><%= @individual_project.own_resource %>円</td>
        </tr>
        <tr>
          <th scope="row">期日</th>
          <td><%= @individual_project.end_day %></td>
        </tr>
        <tr>
          <th scope="row">担保</th>
          <td><%= @individual_project.collateral.collateral %></td>
        </tr>
        <tr>
          <th scope="row">資金使途</th>
          <td><%= @individual_project.use_of_fund.use_of_fund %></td>
        </tr>
        <tr>
          <th scope="row">資金種類</th>
          <td> <%= @individual_project.fund_type.fund_type %></td>
        </tr>
        <tr>
          <th scope="row">実行日</th>
          <td><%= @individual_project.date %></td>
        </tr>
        <tr>
          <th scope="row">実行予定日</th>
          <td><%= @individual_project.appoint_date %></td>
        </tr>
         <tr>
          <th scope="row">完済登録</th>
          <td>
            <% if @individual_project.is_active == true %>
              有効
            <% else %>
              完済
            <% end %>
        </tr>
      </tbody>
    </table>
    </div>
  </div>
</div>